/* footer */
footer {
  width: 1180;
  margin-left: 10px;
  margin-right: 10px;
  color: #949091;
  background: #231f20;
  border-radius: 4px;
  position: relative;
  line-height: 1.5;
  height: 55px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 90px;
}
#footer-go-top {
  float: right;
  margin: 0;
  list-style: none;
  padding: 17px;
  margin-right: 10px;
  display: block;
  font-size: 14px;
  font-weight: normal;
}
#footer-color a {
  color: #949091;
}
#footer-color a:hover {
  color: #d8d8d8;
}
#footer-info {
  float: left;
  margin: 0;
  list-style: none;
  padding: 18px;
  margin-left: 10px;
}
#footer-info a {
  color: #00a47d;
}
#footer-info a:hover {
  color: #00e0ab;
}
#footer-social {
  float: right;
  margin: 0;
  list-style: none;
  padding: 8px;
  font-size: 26px;
}
#border-footer {
  border-right: 1px solid #525252;
  width: 0px;
  height: 55px;
  float: right;
}
