@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  color: white;
  background: #454545;
  padding: 25px 40px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #dedede;
}
header {
  background: #1d2123;
}
header h1.logo {
  width: 369px;
  height: 79px;
  background: url(../assets/logo.png);
}
header h1.logo span {
  display: none;
}
