.content-list {
	@include border-radius(5px);
	margin-bottom: 25px;
	color: white;
	
	&.jobs {
		background-color: $gray-shaft2;
		margin-bottom: 50px;
		
		.nav-buttons {
			@include clear;
			position: absolute; z-index: 10;
			left: 0; top: 0;
			width: 60px;

			.btn {
				float: left;
				width: 60px; height: 60px;
				text-align: center;
				line-height: 60px;
				font-size: 24px;
				color: white;
			}
			
			.actions {
				position: absolute; top: 60px; left: -120px;
				width: 240px; 
				display: none;
				
				.btn {
					font-size: 20px;
				}
				
				.icon-cancel {
					font-size: 14px;
				}

				.icon-star-empty {
					font-size: 24px;
				}
			}
		}
		
		header {
			height: 60px;
			padding: 20px 20px 20px 80px;
			
			h3 {
				margin-right: 30px;
			}
		}
	}

	header {
		@include clear;
		position: relative;
		
		h3, .topic-nav {
			float: left;
		}
		
		h3 {
			font: {
				size: em(20);
				weight: $bold;
			}
			color: $gray-mercury;
		}

		.nav-topics {
			float: left;
			vertical-align: middle;

			a {
				@include border-radius(50%);
				@include box-shadow( rgba(0,0,0,.28) 0 1px 1px);
				@include gradient(#36393b, #2c2f31);
				@include transition-property(none);
				display: inline-block;
				width: 28px; height: 28px;
				border: 1px solid rgba(white, .05);
				border-bottom: none;
				text-align: center;
				font-size: em(12);
				speak: none;
				line-height: 26px;
				color: rgba(white, .3);

				
				&:hover {
					@include gradient(#29a98b, #33bba3);
					color: white;
				}
			}
		}

		.buttons {
			float: right;
			
			.btn {
				float: right;
				height: 38px;
				margin-left: 5px;
				padding: 0 20px;
				line-height: 36px;
				text-transform: uppercase;
				font: {
					family: $proxima;
					size: em(12);
					weight: $bold;
				}
	
				&:hover {
					@include gradient(#29a98b, #33bba3);
				}
				
				i {
					margin-right: 5px;
				}
				
				.icon-bell {
					font-size: 10px;
				}
				
				.icon-plus {
					font-size: 8px;
				}
			}
		}		

		.logo {
			float: right;
			margin-right: 20px;
		}
	}
}


