.content-list {
	@include border-radius(5px);
	float: right;
	width: 760px;
	margin-bottom: 25px;
	color: white;

	&.forum {
		background-color: $black-shark;
		
		header {
			padding: 25px 20px;
			
			h3 {
				margin: 3px 15px 0 0;
			}
		}
	}
	
	&.jobs {
		background-color: $gray-shaft2;
		margin-bottom: 50px;
		
		.nav-buttons {
			@include clear;
			position: absolute; z-index: 10;
			left: 0; top: 0;
			width: 60px;

			.btn {
				float: left;
				width: 60px; height: 60px;
				text-align: center;
				line-height: 60px;
				font-size: 24px;
				color: white;
			}
			
			.actions {
				position: absolute; top: 60px; left: -120px;
				width: 240px; 
				display: none;
				
				.btn {
					font-size: 20px;
				}
				
				.icon-cancel {
					font-size: 14px;
				}

				.icon-star-empty {
					font-size: 24px;
				}
			}
		}
		
		header {
			height: 60px;
			padding: 20px 20px 20px 80px;
			
			h3 {
				margin-right: 30px;
			}
		}
	}

	header {
		@include clear;
		position: relative;
		
		h3, .topic-nav {
			float: left;
		}
		
		h3 {
			font: {
				size: em(20);
				weight: $bold;
			}
			color: $gray-mercury;
		}

		.nav-topics {
			float: left;
			vertical-align: middle;

			a {
				@include border-radius(50%);
				@include box-shadow( rgba(0,0,0,.28) 0 1px 1px);
				@include gradient(#36393b, #2c2f31);
				@include transition-property(none);
				display: inline-block;
				width: 28px; height: 28px;
				border: 1px solid rgba(white, .05);
				border-bottom: none;
				text-align: center;
				font-size: em(12);
				speak: none;
				line-height: 26px;
				color: rgba(white, .3);

				
				&:hover {
					@include gradient(#29a98b, #33bba3);
					color: white;
				}
			}
		}

		.buttons {
			float: right;
			
			.btn {
				float: right;
				height: 38px;
				margin-left: 5px;
				padding: 0 20px;
				line-height: 36px;
				text-transform: uppercase;
				font: {
					family: $proxima;
					size: em(12);
					weight: $bold;
				}
	
				&:hover {
					@include gradient(#29a98b, #33bba3);
				}
				
				i {
					margin-right: 5px;
				}
				
				.icon-bell {
					font-size: 10px;
				}
				
				.icon-plus {
					font-size: 8px;
				}
			}
		}		

		.logo {
			float: right;
			margin-right: 20px;
		}
	}
	
	.jobs-list {
		width: 100%;
		border: 1px solid rgba(white, 0.05);
		
		tr {
			td {
				@include antialias;
				padding: 21px 25px;
				border: {
					bottom: 1px solid rgba(white, 0.05);
					right: 1px solid rgba(white, 0.05);
				}
				font: {
					family: $mont;
					weight: $regular;
				}
				line-height: 1;

				&.action {
					padding: 0;
					width: 60px;
					text-align: center;
					font-size: 24px;
					color: rgba(white, 0.2);
					
					.icon-cancel {
						font-size: 14px;
					}
	
					.icon-star-empty {
						font-size: 24px;
					}
				}
				
				&.no-border {
					border-right: none;
				}
				
				a {
					&:hover {
						color: $turquoise;
					}
				}

				.dark {
					@include opacity(0.6);
				}
				
				.date {
					color: #7e7e7e;
				}
				
				.info {
					margin-right: 10px;
					line-height: 1;
					padding: 3px 3px;
					text-transform: uppercase;
					font-size: 12px;
					color: white;
				}
			}
		}
	}
	
	.topic-list {
		width: 100%;
		
		th {
			text-transform: uppercase;
			font: {
				family: $proxima;
				size: em(12);
				weight: $light;	
			}
			color: $gray-oslo;
		}
		
		td {
			font: {
				family: $mont;
			}
			
			.topic {
				background: {
					image: url(../assets/icon-arrow-right.png);
					repeat: no-repeat;
					position: left top;
				}
				
				padding: 0 0 5px 35px;

				&:hover {
					color: $turquoise;
				}
			}
		}
		
		th, td {
			border-bottom: 1px solid #363637;
			padding: 10px;
		}
		
		tr {
			&:first-child {
				th {
					&:first-child {
						padding-left: 20px;
					}
				}
			}
			
			td {
				&:first-child {
					padding-left: 20px;
				}
			}
		}
		
		tbody {
			tr {
				&:nth-child(even) {
					@include gradient(#2e2e2e, $black-shark);
				}
			}
		}
		
		i {
			font-family: $icons;
			font-style: normal;
			font-weight: normal;
			speak: none;
		}
		
		.answer {
			display: inline-block;
			width: 18px; height: 18px;
			background: {
				image: url(../assets/icon-answer.png);
				repeat: no-repeat;
			}
			padding: 0 0 0 25px;
			line-height: 15px;
		}
		
		.btn {
			@include antialias;
			@include border-radius(3px);
			display: block;
			padding: 6px 10px;
			line-height: 1;
			white-space: nowrap;
			text: {
				transform: uppercase;
				align: center;
			}
			font: {
				family: $proxima;
				size: em(12);
				weight: $bold;
			}
			color: white;
		}
		
		.views i {
			font-size: 18px;
			color: #d0474b;
		}
		
		.num {
			font: {
				family: $mont;
			}
			color: $gray-nobel;
		}
		
		.user {
			@include border-radius(50%);
			@include box-sizing(content-box);
			display: inline-block;
			width: 25px; height: 25px;
			overflow: hidden;
			border: 3px solid transparent;
			
			&.border {
				border-color: #85c2e0;
			}
		}
	}
	
	.topic-slider {
		display: none;
	}
	
	.topic-slider-pagination {
		padding: 15px 20px;
		text-align: right;

		.text {
			margin-right: 5px;
			font: {
				size: em(14);
				weight: $light;
			}
			color: #bebebe;
		}
		
		.bullets {
			display: inline-block;
		}
		
		.bullet {
			@include border-radius( 50% );
			@include hover;
			position: relative;
			background-color: #adadad;
			display: inline-block;
			width: 12px; height: 12px;
			margin: 0 3px;
			cursor: pointer;
	
			&.rsNavSelected {
				background-color: $turquoise;
			}
			
			&:hover {
				background-color: white;
			}
		}
	}
	
	.results {
		float: right;
		font: {
			family: $mont;
			weight: $regular;
		}
		color: rgba(white, .2);
	}
}


.search-job {
	float: left;
	position: relative;
	width: 400px;
	
	input[type=text] {
		position: relative; z-index: 5;
		border-bottom: 1px solid $gray-tundora;
		padding: 5px 0;
		font-size: em(12);
		color: $gray-dusty;
	}
	
	button[type=submit] {
		position: absolute; right: 0; top: -10px; z-index: 10;
		width: 40px; height: 40px;
		background-color: $gray-shaft2;
		text-align: center;
		line-height: 40px;
		font-size: 32px;
		color: $gray;
		
		&:hover {
			color: white;
		}
	}
}