.forum {
	background-color: $black-shark;
	
	@media screen and ( max-width: $tablet_landscape + px ) {
		margin-bottom: 10px;
	}
	
	header {
		padding: 25px 20px;
		
		h3 {
			margin: 3px 15px 0 0;
			
			@media screen and ( max-width: $grid-base-width+px ) {
				margin-bottom: 5px;
			}
		}
	}
	
	.logo {
		margin-right: 20px;
		
		@media screen and ( min-width: $grid-base-width+px ) {
			float: right;
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			display: none;
		}
	}
	
	.nav-topics {
		float: left;
		vertical-align: middle;
		
		@media screen and ( max-width: $grid-base-width+px ) {
			margin-right: 10px;
		}

		a {
			@include border-radius(50%);
			@include box-shadow( rgba(0,0,0,.28) 0 1px 1px);
			@include gradient(#36393b, #2c2f31);
			@include transition-property(none);
			display: inline-block;
			width: 28px; height: 28px;
			border: 1px solid rgba(white, .05);
			border-bottom: none;
			text-align: center;
			font-size: em(12);
			speak: none;
			line-height: 26px;
			color: rgba(white, .3);
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				width: 20px; height: 20px;
				line-height: 18px;
				font-size: em(10);
			}
			
			&:hover {
				@include gradient(#29a98b, #33bba3);
				color: white;
			}
		}
	}
	
	.topic-list {
		width: 100%;
		
		th {
			text-transform: uppercase;
			font: {
				family: $proxima;
				size: em(12);
				weight: $light;	
			}
			color: $gray-oslo;

			@media 
				screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
				screen and ( max-width: $smartphone_landscape + px ) {

				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4),
				&:nth-of-type(5) {
					display: none;
				}
			}
		}
		
		td {
			font: {
				family: $mont;
			}
			
			.topic {
				display: inline-block;
				background: {
					image: url(../assets/icon-arrow-right.png);
					repeat: no-repeat;
					position: left top;
				}
				padding: 0 0 5px 35px;
				
				@media 
					screen and (min-width: 1161px) and ( max-width: $netbook + px ),
					screen and (max-width: $smartphone_portrait + px)  {

					font-size: em(13);
				}

				&:hover {
					color: $turquoise;
				}
			}
		}
		
		th, td {
			border-bottom: 1px solid #363637;
			padding: 10px;
			
			@media screen and ( max-width: $ultrabook + px ) {
				padding: 10px 5px;
			}
			
			@media 
				screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
				screen and ( max-width: $smartphone_landscape + px ) {

				float: left;
				border: none;
			}
		}
		
		tr {
			@media 
				screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
				screen and ( max-width: $smartphone_landscape + px ) {

				float: left;
				width: 100%;
				border-bottom: 1px solid #363637;
			}

			&:first-child {
				th {
					&:first-child {
						padding-left: 20px;
					}
				}
			}
			
			td {
				@media 
					screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
					screen and ( max-width: $smartphone_landscape + px ) {
				
					padding: 0;
				}

				&:last-child {
					white-space: nowrap;
				}
				
				&:first-child {
					padding-left: 20px;
					
					@media 
						screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
						screen and ( max-width: $smartphone_landscape + px ) {
						
						width: 100%;
						padding: 10px 10px 0 20px;
					}
				}
				
				&:nth-of-type(2) {
					@media 
						screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
						screen and ( max-width: $smartphone_landscape + px ) {
						
						width: 100%;
						padding-left: 55px;
						padding-bottom: 5px;
					}
				}
				
				&:nth-of-type(3) {
					@media 
						screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
						screen and ( max-width: $smartphone_landscape + px ) {
						
						width: 120px;
						padding-left: 55px;
						padding-bottom: 10px;
						text-align: left;
					}
				}
				
				&:nth-of-type(5) {
					@media 
						screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
						screen and ( max-width: $smartphone_landscape + px ) {

						padding-left: 40px;
					    padding-bottom: 10px;
					    margin-top: -10px;
						text-align: left;
					}
				}				    
			}
		}
		
		tbody {
			tr {
				&:nth-child(even) {
					@include gradient(#2e2e2e, $black-shark);
				}
			}
		}
		
		i {
			font-family: $icons;
			font-style: normal;
			font-weight: normal;
			speak: none;
		}
		
		.answer {
			display: inline-block;
			width: 18px; height: 18px;
			background: {
				image: url(../assets/icon-answer.png);
				repeat: no-repeat;
			}
			padding: 0 0 0 25px;
			line-height: 15px;
		}
		
		.btn {
			@include antialias;
			@include border-radius(3px);
			display: block;
			padding: 6px 10px;
			line-height: 1;
			white-space: nowrap;
			text: {
				transform: uppercase;
				align: center;
			}
			font: {
				family: $proxima;
				size: em(12);
				weight: $bold;
			}
			color: white;
			
			@media screen and ( max-width: $netbook + px ) {
				font-size: em(10);
			}
			
			@media 
				screen and ( min-width: $tablet_landscape + 1 + px ) and ( max-width: 1160px ),
				screen and ( max-width: $smartphone_landscape + px ) {

				display: inline-block;
			}
		}
		
		.views i {
			font-size: 18px;
			color: #d0474b;
		}
		
		.num {
			font: {
				family: $mont;
			}
			color: $gray-nobel;
		}
		
		.user {
			@include border-radius(50%);
			@include box-sizing(content-box);
			display: inline-block;
			width: 25px; height: 25px;
			overflow: hidden;
			border: 3px solid transparent;
			
			&.border {
				border-color: #85c2e0;
			}
		}
	}
	
	.topic-slider {
		display: block;
	}
	
	.topic-slider-pagination {
		padding: 15px 20px;
		text-align: right;

		.text {
			margin-right: 5px;
			font: {
				size: em(14);
				weight: $light;
			}
			color: #bebebe;
		}
		
		.bullets {
			display: inline-block;
		}
		
		.bullet {
			@include border-radius( 50% );
			@include hover;
			position: relative;
			background-color: #adadad;
			display: inline-block;
			width: 12px; height: 12px;
			margin: 0 3px;
			cursor: pointer;
	
			&.rsNavSelected {
				background-color: $turquoise;
			}
			
			&:hover {
				background-color: white;
			}
		}
	}
}