@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    color: white;
    background: #454545;
    
    padding: 25px 40px;
    margin: 0px;
    
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #dedede;
}

/* header */

header {
    background: #1d2123;
    border-radius: 4px;
     
    h1.logo {
        width: 369px;
        height: 79px;
        
        background: url(../assets/logo.png);
        
        span {
            display: none;
        }
    }
}

/* sections */

main {    
    section {
        width: 50%;
        float: left;
    }
    
    &:after {
        content:'';
        display:block;
        clear: both;
    }
}

/* content list */

.content-list {
    background: #1d2123;
    border-radius: 4px;
}


@import "./highlights.less";
@import "./topic-list.less";