<div id="footer-info">Wszelkie prawa zastrzeżone <a href="http://www.gamedev.pl">Gamedev.pl</a></div>
  <div id="footer-color"><a href="#top"><div id="footer-go-top">IDŹ W GÓRĘ <i class="icon-up-open"></i></div></a></div>
  <div id="border-footer"></div>
  <div id="footer-social">
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-linkedin"></i></a>
    <a href="#"><i class="icon-youtube"></i></a>
    <a href="#"><i class="icon-rss"></i></a>
</div>