			<p class="copyrights">Wszelkie prawa zastrzeżone przez <a href="//www.gamedev.pl">Gamedev.pl</a> - Hosting: <a href="http://polskastrefa.pl">Polska Strefa</a></p>
			<a class="go-top">idź na górę strony</a>

            {{!--
			<nav class="nav-social">
				<ul>
					<li>
						<a href="#" class="icon-twitter"></a>
					</li>
					
					<li>
						<a href="#" class="icon-facebook"></a>
					</li>
					
					<li>
						<a href="#" class="icon-linkedin"></a>
					</li>
					
					<li>
						<a href="#" class="icon-youtube"></a>
					</li>
					
					<li>
						<a href="#" class="icon-rss"></a>
					</li>
				</ul>
			</nav>
            --}}
