<h1 class="logo">
    <span>Gamedev.pl</span>        
</h1>
<div id="footer-color"><a href="#"><div id="search-button"><i class="icon-search"></i></div></a></div>
<div id="socials-header">
  {{> ../partials/socials}}
</div>
<ul>
  <li><div class="green"><a href="#">Home</a></div></li>
  <li><div class="blue"><a href="#">Oferty Pracy</a></div></li>
  <li><div class="yellow"><a href="#">Użytkownicy</a></div></li>
  <li><div class="lightgreen"><a href="#">Forum</a></div></li>
  <li><div class="red"><a href="#">Odznaki</a></div></li>
</ul>