<ul class="slider">
    {{#highlights}}
        <li>
            <article>
                <h4>{{data.title}}</h4>
                <p>{{data.description}} <a href="{{data.url}}" class="more">Czytaj więcej</a></p>

            </article>

            <a href="{{data.url}}">
                <img src="/assets/highlights/{{data.image}}" alt="{{data.title}}" />
            </a>
        </li>

				<!--<ul class="highlights">-->
					<!--<li class="item">-->
						<!--<img src="assets/highlight-1.jpg" alt="highlight-1" width="368" height="394" />-->
					<!--</li>-->
					<!---->
					<!--<li class="item">-->
						<!--<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />-->
					<!--</li>-->
					<!---->
					<!--<li class="item">-->
						<!--<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />-->
					<!--</li>-->
					<!---->
					<!--<li class="item">-->
						<!--<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />-->
					<!--</li>-->
				<!--</ul>-->
				<!---->
				<!--<div class="video">-->
					<!--<img src="assets/video.png" alt="video" width="755" height="334" />-->
				<!--</div>-->
{{/highlights}}