{{#highlights}}
				<ul class="slider">
					<li>
						<article>
							<h4>Nowa odsłona Gamedev</h4>
							<p>Set without brought abundantly. You'll behold. Night, moveth which fruit without saw to was rule. <a href="#" class="more">Read more...</a></p>
							
						</article>

						<a href="#">
							<img src="assets/news-slide.jpg" alt="" width="755" height="395" />
						</a>
					</li>
					
					<li>
						<article>
							<h4>Drugi slide</h4>
							<p>Set without brought abundantly. You'll behold. Night, moveth which fruit without saw to was rule. Set without brought abundantly. You'll behold. Night, moveth which fruit without saw to was rule. <a href="#" class="more">Read more...</a></p>
							
						</article>
	
						<img src="assets/news-slide.jpg" alt="" width="755" height="395" />
					</li>
					
					<li>
						<article>
							<h4>Nowa odsłona</h4>
							<p>Set without brought abundantly. You'll behold. Night, moveth which fruit without saw to was rule. <a href="#" class="more">Read more...</a></p>
							
						</article>
	
						<a href="#">
							<img src="assets/news-slide.jpg" alt="" width="755" height="395" />
						</a>
					</li>
				</ul>
				
				<ul class="highlights">
					<li class="item">
						<img src="assets/highlight-1.jpg" alt="highlight-1" width="368" height="394" />
					</li>
					
					<li class="item">
						<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />
					</li>
					
					<li class="item">
						<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />
					</li>
					
					<li class="item">
						<img src="assets/highlight-3.jpg" alt="highlight-3" width="368" height="394" />
					</li>
				</ul>
				
				<div class="video">
					<img src="assets/video.png" alt="video" width="755" height="334" />
				</div>
{{/highlights}}