			<table class="jobs-list">
				{{#jobs}}
				<tr>
					<td class="action">
						<i class="icon-ok"></i>
					</td>
					<td class="action">
						<i class="icon-star-empty"></i>
					</td>
					<td>
						<span class="dark">Behance</span>
					</td>
					<td class="no-border">
						<a href="#">Python Developer</a>
					</td>
					<td class="align-right">
						<span class="date">Dziś, 15:48</span>
					</td>
				</tr>
				{{/jobs}}
			</table>