				<table class="jobs-list">
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Dribble.com</span>
						</td>
						<td class="no-border">
							<span class="btn info blue-bg">users</span>
							<a href="#">Graphic designer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Python Developer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Programista gier CC/C++</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Twitter</span>
						</td>
						<td class="no-border">
							<a href="#">Grafik 2D</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Python Developer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Programista gier CC/C++</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Python Developer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Programista gier CC/C++</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Python Developer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Programista gier CC/C++</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
					
					<tr>
						<td class="action">
							<i class="icon-ok"></i>
						</td>
						<td class="action">
							<i class="icon-star-empty"></i>
						</td>
						<td>
							<span class="dark">Behance</span>
						</td>
						<td class="no-border">
							<a href="#">Python Developer</a>
						</td>
						<td class="align-right">
							<span class="date">Dziś, 15:48</span>
						</td>
					</tr>
				</table>