<table class="jobs-list" width="100%" style="table-layout: fixed">
    <tr>
        <td class="no-border" style="padding: 0">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout="text-only"
                data-ad-layout-key="-gu+b-1g-3o+cd"
                data-ad-client="ca-pub-0288128369759519"
                data-ad-slot="6698259938"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </td>
    </tr>
</table>
<table class="jobs-list" style="width: 100%">
    {{#topics}}
        <tr>
            {{!--
            <td class="action">
                <i class="icon-ok"></i>
            </td>
            <td class="action">
                <i class="icon-star-empty"></i>
            </td>
            <td>
                <span class="dark">Dribble.com</span>
            </td>
            --}}
            <td class="no-border">
                {{!-- <span class="btn info blue-bg">users</span> --}}
                <a href="https://forum.gamedev.pl/t/{{slug}}/{{id}}" class="topic">{{title}}</a>
                <!--<a href="#">Graphic designer</a>-->
            </td>
            <td class="align-right">
                <span class="date">{{date}}</span>
            </td>
        </tr>
    {{/topics}}

</table>