<a href="#"><i class="icon-twitter"></i></a>
<a href="#"><i class="icon-facebook"></i></a>
<a href="#"><i class="icon-linkedin"></i></a>
<a href="#"><i class="icon-youtube"></i></a>
<a href="#"><i class="icon-rss"></i></a>