	<div id="top-bar" class="logged">
		<div class="container">
			
			<div class="user-info">
				<span class="photo">
				</span>

				<span class="info">
					Jesteś zalogowany jako <a href="#" class="name">~Blast</a>
					<a class="logout">wyloguj się</a>
				</span>
			</div>


			<nav class="nav-account">
				<ul>
					<li>
						<a href="#" class="icon--comment">
							<span class="tooltip red">1987</span>
						</a>
						
						<div class="sub-menu">
							<p class="lead">Powiadomienia</p>

							<ul class="messages">
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>

									<article>
										<a href="#" class="turquoise">~KsiazeKrzysztof</a> dodał digart <a href="#">The Knight</a> do grupy: adobe.
										<h6 class="meta">5 dni temu</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<span class="turquoise">~KsiazeKrzysztof</span> dodał digart <a href="#">The Knight</a> do grupy: adobe.
										<h6 class="meta">5 dni temu</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<span class="turquoise">~KsiazeKrzysztof</span> dodał digart <a href="#">The Knight</a> do grupy: adobe.
										<h6 class="date">5 dni temu</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<span class="turquoise">~KsiazeKrzysztof</span> dodał digart <a href="#">The Knight</a> do grupy: adobe.
										<h6 class="meta">5 dni temu</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<span class="turquoise">~KsiazeKrzysztof</span> dodał digart <a href="#">The Knight</a> do grupy: adobe.
										<h6 class="meta">5 dni temu</h6>										
									</article>
								</li>
							</ul>
							
							<p class="more">
								<a href="#">Pozostałe powiadomienia</a>
							</p>
						</div>
					</li>
					
					<li>
						<a href="#" class="icon--mail"></a>
						
						<div class="sub-menu">
							<p class="lead">Wiadomości prywatne</p>
							
							<ul class="messages">
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<a href="#" class="turquoise">Nazwa wiadomości</a>
										<h6 class="meta">
											<span class="name">~Uninvited88</span>
											<span class="date">09.11.2013 @08:00:13</span>
										</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<a href="#" class="turquoise">Nazwa wiadomości</a>
										<h6 class="meta">
											<span class="name">~Uninvited88</span>
											<span class="date">09.11.2013 @08:00:13</span>
										</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<a href="#" class="turquoise">Nazwa wiadomości</a>
										<h6 class="meta">
											<span class="name">~Uninvited88</span>
											<span class="date">09.11.2013 @08:00:13</span>
										</h6>										
									</article>
								</li>

								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<a href="#" class="turquoise">Nazwa wiadomości</a>
										<h6 class="meta">
											<span class="name">~Uninvited88</span>
											<span class="date">09.11.2013 @08:00:13</span>
										</h6>										
									</article>
								</li>
								
								<li>
									<figure>
										<img src="assets/avatar-messages.jpg" alt="" width="59" height="55" />
									</figure>
									
									<article>
										<a href="#" class="turquoise">Nazwa wiadomości</a>
										<h6 class="meta">
											<span class="name">~Uninvited88</span>
											<span class="date">09.11.2013 @08:00:13</span>
										</h6>										
									</article>
								</li>
							</ul>
							
							<p class="more">
								<a href="#">Zobacz więcej wiadomości</a>
							</p>
						</div>
					</li>
					
					<li>
						<a href="#" class="icon--watch">
							<span class="tooltip blue">1987</span>
						</a>
						
						<div class="sub-menu">
							<p class="lead">Nowe projekty obserwowanych użytkowników</p>
							
							<ul class="projects">
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/project-thumb.jpg" alt="" width="70" height="66" />
									</a>
								</li>
							</ul>
							
							<p class="more">
								<a href="#">Zobacz więcej projektów</a>
							</p>
						</div>
					</li>
				</ul>
			</nav>


			<div class="panel-select">
				<select>
					<option>Twój panel</option>
					<option>Wybór 1</option>
					<option>Wybór 2</option>
				</select>
				
				<span class="text">Wypromuj swoją twórczość już teraz!</span>
			</div>
		</div>
	</div>