     <div id="top-bar" class="not-logged">
		<div class="container">
			<p class="text ">Witaj, Nieznajomy. <span class="gray-nobel">Obecnie jesteś niezalogowany.</span></p>
			
			<a class="btn login">Zaloguj się</a>
			
			<span class="text turquoise">bądź</span>
			
			<a class="btn register">zarejestruj</a>
			
			<div class="panel-select">
				<select>
					<option>Twój panel</option>
					<option>Wybór 1</option>
					<option>Wybór 2</option>
				</select>
				
				<span class="text">Wypromuj swoją twórczość już teraz!</span>
			</div>
		</div>
	</div>