<ul class="topic-list">                
    {{#topics}}
        <li class="topic-list__topic-item">
            <a href="https://forum.gamedev.pl/t/{{slug}}/{{id}}">{{title}}</a>
        </li>
    {{/topics}}
</ul>
