				<div class="topic-slider">
					<table class="topic-list">
						<thead>
							<tr>
								<th>temat</th>
                                <th>kategoria</th>
                                <th class="align-center">odpowiedzi</th>
                                <th class="align-center">odsłony</th>
                                <th class="align-center">użytkownicy</th>
							</tr>
						</thead>
						
						<tbody>
						
						{{#topics}}
							<tr>
								<td>
									<a href="https://forum.gamedev.pl/t/{{slug}}/{{id}}" class="topic">{{title}}</a>
								</td>
								<td>
									<a class="btn blue-bg" href="{{categoryUrl}}">{{categoryName}}</a>
								</td>
                                <td class="align-center">
                                    <span class="answer"><span class="num">{{posts_count}}</span></span>
                                </td>
                                <td class="align-center">
                                    <span class="views">
                                        <i class="icon-heart-empty"></i> <span class="num">{{views}}</span>
                                    </span>
                                </td>
                                <td class="align-center">
                                    {{#posters}}
                                        <span class="user border">
                                            <img src="{{user.avatarUrl}}" alt="{{user.username}}" />
                                        </span>
                                    {{/posters}}
                                </td>
							</tr>
						{{/topics}}
	
						</tbody>
					</table>
				</div>
				
				<div class="topic-slider-pagination">
					<span class="text">Zobacz więcej</span>
				</div>              
