// Fonts

$icons:				'Icons';
$mont:				'Montserrat';
$open:				'Open Sans', sans-serif;
$proxima:			'Proxima Nova';


// Typography

$bold:				700;
$light:				300;
$regular:			400;
$semibold:			600;


// Colors

$black-shark:		#1d2123;
$blue:				#16b0ca;
$gray:				#878787;
$gray2:				#929191;
$gray-boulder:		#747474;
$gray-dusty:		#979797;
$gray-emperor:		#505050;
$gray-iron:			#d2d3d3;
$gray-mercury:		#e5e5e5;
$gray-nobel:		#b6b6b6;
$gray-oslo:			#909497;
$gray-shaft:		#3b3b3b;
$gray-shaft2:		#232323;
$gray-shark:		#1d2123;
$gray-silver:		#c4c4c4;
$gray-silver2:		#a3a3a3;
$gray-thunder:		#231f20;
$gray-tundora:		#454545;
$green:				#4a9f64;
$green-cari:		#00e2af;
$green-jungle:		#2fb69c;
$red:				#e4162a;
$turquoise:			#00e4ac;
$yellow:			#d0c70a;


// Default

$base-font-size: 15;
$text: $open;
$grid-base-width: 1546;
