// Compass imports
@import "compass/reset";
@import "compass/css3";

// Custom includes
@import "inc/variables";
@import "inc/functions";
@import "inc/mixins";
@import "inc/fonts";
@import "inc/icons";
@import "inc/typography";
@import "inc/buttons";
@import "inc/shared";
@import "inc/form";
@import "inc/select";
@import "inc/royalslider";

// Blocks includes
@import "blocks/additions";
@import "blocks/content-list";
@import "blocks/footer";
@import "blocks/forum";
@import "blocks/header";
@import "blocks/jobs";
@import "blocks/highlights";
@import "blocks/main-menu";
@import "blocks/nav";
@import "blocks/nav-account";
@import "blocks/nav-social";
@import "blocks/top-bar";

body {
	background-color: $gray-tundora;
	
	&:after, &:before {
		@include background-size(cover);
		position: absolute;
		left: 0;
		z-index: 5;
		display: block;
		width: 100%; height: 900px;
		background: {
			repeat: no-repeat;
			position: center top;
		}
		content: ' ';
	}

	&:before {
		top: 0;
		background-image: url(../assets/bg-top.png);
	}
	
	&:after {
		position: fixed;
		bottom: 0;
		background-image: url(../assets/bg-bottom.png);
	}
}


body, html {
	width: 100%; min-height: 100%; height: 100%;
}

html { 
	box-sizing: border-box; 
}

*, *:before, *:after { 
	box-sizing: inherit;
}

