<html>
	<head>
		<title>Hello</title>
	</head>
	<body>
		<header>Gamedev.pl</header>
		<main>
			<ul>
				{{#topics}}
				  <li>{{title}}</li>
				{{/topics}}
			</ul>
		</main>
		<footer>Gamedev.pl</footer>
	</body>
</html>