<!DOCTYPE html>
<html>
    <head>
        <title>Gamedev.pl - Warsztat to polski serwis o tworzeniu gier</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {{> ../partials/assets}}
    </head>
   
<body>
	{{!> ../partials/top-bar}}
  
	
	<div class="container">
            
		<div id="header">
			<a href="http://www.gamedev.pl" class="logo">
				<img src="/assets/logo-gamedev.png" alt="Gamedev.pl - Warsztat" width="70" height="60" />
				gamedev<span class="turquoise">.pl</span>
			</a>
            {{!--
			<nav class="nav-social">
				<ul>
					<li>
						<a href="#" class="icon-twitter"></a>
					</li>
					
					<li>
						<a href="#" class="icon-facebook"></a>
					</li>
					
					<li>
						<a href="#" class="icon-linkedin"></a>
					</li>
					
					<li>
						<a href="#" class="icon-youtube"></a>
					</li>
					
					<li>
						<a href="#" class="icon-rss"></a>
					</li>
				</ul>
			</nav>
            --}}

			<a class="search-trigger icon-search" href="https://forum.gamedev.pl/search"></a>

			<a class="nav-trigger">menu</a>

			<nav id="main-menu">
				<ul>
					<li class="current-menu-item">
						<a href="http://www.gamedev.pl">Home</a>
					</li>

					<li>
						<a href="https://forum.gamedev.pl/c/ogloszenia">Oferty pracy</a>
					</li>

					<li>
						<a href="https://forum.gamedev.pl/users">Użytkownicy</a>
					</li>

					<li>
						<a href="https://forum.gamedev.pl">Forum</a>
					</li>

					<li>
						<a href="https://forum.gamedev.pl/badges">Odznaki</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="column left">
			<section id="highlights">
				<h2>Co nowego?</h2>
				
				<a href="https://github.com/gamedevpl/www.gamedev.pl/tree/master/highlights" class="archive"></a>
	
				{{> ../partials/highlights }}
			</section>

            <section class="content-list jobs">
                <header>
                    <h3>Oferty pracy</h3>

					<span class="nav-buttons">
						<a class="btn blue-bg icon-cw"></a>

						<span class="actions">
							<a class="btn yellow-bg icon-reply"></a>
							<a class="btn red-bg icon-cancel"></a>
							<a class="btn green-bg icon-ok"></a>
							<a class="btn green-light-bg icon-star-empty"></a>
						</span>
					</span>

                    <form action="https://forum.gamedev.pl/search" class="search-job" onsubmit="this.querySelector('input').value += ' category:12';">
                        <input type="text" name="q" placeholder="Wpisz czego szukasz" />
                        <button type="submit" class="icon-search"></button>
                    </form>

                    <span class="results">1-50 z 300</span>
                </header>

                {{#jobs}}
                    {{#topic_list}}
                        {{> ../partials/jobs }}
                    {{/topic_list}}
                {{/jobs}}
            </section>

        </div>

		<div class="column right">
			<section class="content-list forum">
				<header>
					<h3 data-long="Ostatnio na forum" data-short="Na forum"></h3>
	
					<nav class="nav-topics">
						<a class="prev icon-left-open"></a>
						<a class="next icon-right-open"></a>
					</nav>
	
					<span class="buttons">
						<a href="https://forum.gamedev.pl/new-topic" class="btn black-gradient add-post"><i class="icon-bell"></i> dodaj post</a>
						<a href="https://forum.gamedev.pl/" class="btn black-gradient see-forum"><i class="icon-plus"></i> zobacz forum</a>
					</span>
	
					<span class="logo">
						<img src="assets/logo-warsztat.png" alt="warsztat" width="118" height="30" />
					</span>
				</header>
	
				{{#topics}}
	                {{#topic_list}}
	                    {{> ../partials/topics }}
	                {{/topic_list}}
	            {{/topics}}
			</section>

			<div class="additions">
				<section class="about">
					<h4 class="bordered blue-border">O Gamedev.pl</h4>
					
					<p>Warsztat to strona przeznaczona dla wszystkich, którzy chcą zajmować się tworzenie gier - zawodowo i/lub amatorsko.</p>
					
					<p>

					</p>
	
					<p>
						<a href="https://forum.gamedev.pl/c/o-forum-i-warsztacie">Zobacz więcej....</a>
					</p>
				</section>

                {{!--
				<section class="language">
					<h4 class="bordered yellow-border">Wybór języka</h4>
					
					<ul class="lang-list">
						<li>
							<a href="#" class="lang gb"></a>
						</li>
						
						<li>
							<a href="#" class="lang fr"></a>
						</li>
						
						<li>
							<a href="#" class="lang de"></a>
						</li>
	
						<li class="active">
							<a href="#" class="lang pl"></a>
						</li>
						
						<li>
							<a href="#" class="lang es"></a>
						</li>
						
						<li>
							<a href="#" class="lang ch"></a>
						</li>
					</ul>
				</section>
				--}}
			</div>
		</div>
		
		<footer>
			{{> ../partials/footer}}
		</footer>

	</div>
        
	{{> ../partials/javascript}}
</body>
</html>